{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Tarea App</h1>
        <p>
            Bienvenido a TareasApp

Organiza tu vida de manera eficiente y nunca pierdas el control de tus tareas. TareasApp es una aplicación intuitiva y poderosa diseñada para simplificar tu día a día.

Con TareasApp, puedes crear, editar y eliminar tareas de manera rápida y sencilla. Ya sea que estés planificando tu agenda semanal, administrando proyectos o simplemente haciendo una lista de compras, nuestra aplicación te ofrece todas las herramientas necesarias para mantenerte organizado.

¿Qué hace a TareasApp destacar?

- Interfaz intuitiva: Nuestra interfaz de usuario elegante y fácil de usar te permite administrar tus tareas sin complicaciones. Puedes añadir descripciones detalladas, establecer fechas de vencimiento y marcar las tareas completadas con tan solo unos clics.

- Personalización total: TareasApp se adapta a tus necesidades. Puedes organizar tus tareas por categorías, asignar etiquetas personalizadas y establecer recordatorios para asegurarte de que nunca olvides una tarea importante.

- Colaboración en equipo: Si estás trabajando en un proyecto en equipo, TareasApp te permite compartir tareas y asignarlas a tus compañeros. Todos pueden colaborar de manera eficiente y mantenerse al día con el progreso.

TareasApp está construida con Django, un poderoso framework web de Python. Esto garantiza un rendimiento óptimo, seguridad y escalabilidad en cada función que ofrecemos.

Ya sea que estés organizando tu trabajo, estudios o vida cotidiana, TareasApp es la herramienta perfecta para mantener todo bajo control. Simplifica tu vida y experimenta una nueva forma de gestionar tus tareas con TareasApp.

¡Regístrate hoy mismo y descubre cómo TareasApp puede llevar tu productividad al siguiente nivel!

        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                 Ingresar
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrarse
            </a>
        </div>
    </section>
</main>


{% endblock %}
