{% extends 'base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
    
            <form action="/signin/" method="POST" class="card card-body">
        
                {{error}}
        
        
                {% csrf_token %}
                
                <h1 class="text-center">Iniciar Cesion </h1>
                    
                        {{error}}
                        {% csrf_token %}
        
                        <div class="mb-3">
                            <label for="username">Usuario</label>
                            <input type="text" name="username" class="form-control" placeholder="escribe el usuario" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Escribe contraseña" id="password">
                        </div>
                    
                    
                        <button class="btn btn-primary">
                            Ingresar
                        </button>
            </form>
        </section>
    </div>

</main>
{% endblock %}